.ca-page {
  padding: 0;
}

.ca-page-menu-container {
  padding: 10px 25px;
  margin: 20px 0;
}

.ca-page-menu-container.extend {
  background-color: #D9D9D9;
}

.ca-page-menu-header {
  display: grid;
  grid-template-columns: 50px 1fr 30px;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
}

.ca-page-menu-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
}

.ca-page-menu-icon {
  width: 40px;
  height: 40px;
}

.ca-page-menu-arrow {
  width: 20px;
  height: 20px;
}

.ca-page-button {
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: black;
  border-radius: 20px;
  background-color: #D9D9D9;
  box-shadow: 5px 5px 20px 0px #00000040;
}

@media (max-width: 500px) {
}