.register-page {
  padding: 0 20px;
}

.register-page-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 30px;
}

.register-page-title.small {
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 0px;
}

.register-page-menu-container {
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  padding: 15px;
  align-items: center;
  cursor: auto;
  color: gray;
  text-decoration: none;
}

.register-page-menu-container.shadow {
  border-radius: 30px;
  background-color: #D9D9D9;
  box-shadow: 5px 5px 20px 0px #00000040;
  cursor: pointer;
  color: black;
}

.register-page-menu-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.register-page-menu-arrow {
  width: 20px;
  height: 20px;
}

.register-page-menu-text {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 600px) {
}