.navbar-container {
  display: flex;
  justify-content: space-evenly;
}

.navbar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-button-icon {
  width: 40px;
  height: 40px;
}

.navbar-button-text {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 600;
}

.navbar-link,
.navbar-link-active {
  width: 100px;
  height: 60px;
  padding: 10px 0;
  color: black;
  text-decoration: none;
}

.navbar-link-active {
  background-color: #3152b7;
  color: white;
}
