@import "../../../styles/theme";

.register-result-page {

    .header-bar-text {
        font-size: 54px;
    }

    h2 {
        font-size: 56px;
        color: $primary;
    }

    .subtitle {
        font-size: 32px;
        line-height: 1.5;
        text-align: left;
        color: $primary;
        width: 640px;
        height: 240px;
    }

    .ant-result {
        padding: 40px;
    
        .ant-result-extra {
            button {
                // margin: 0 40px;
                width: 615px;
                height: 109px;
                justify-content: center;
                align-items: center;
                //margin-inline-end: initial;
                display: flex;
                div {
                    font-size: 44px;
                    height: 70px;
                    width: 153px;
                }
                img {
                    height: 50px;
                    width: 50px;
                    transform: rotate(180deg);
                }
            }
        }
    }


    .ant-result .ant-result-icon>.anticon {
        font-size: 218px;
    }

}