@import "../../../styles/theme";

.register-result-page {

    .header-bar-text {
        font-size: 54px;
    }

    h2 {
        font-size: 56px;
        color: $primary;
    }

    .subtitle {
        font-size: 32px;
        line-height: 1.5;
        text-align: left;
        color: $primary;
    }

    .ant-result {
        padding: 40px;

        .ant-result-extra {
            button {
                margin: 0 40px;
                width: 180px;
                //margin-inline-end: initial;
            }
        }
    }


    .ant-result .ant-result-icon>.anticon {
        font-size: 120px;
    }

}