@import "theme";

.ww-page-container {
    padding: 0 20px;
}

.ww-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: $antPrimary;
    border: 1px solid currentColor;

    .ww-menu-icon {

    }

    .ww-menu-text {
        flex: 1;
        font-size: 18px;
    }

    .ww-menu-arrow {
        width: 30px;
    }


}

.ww-content-text {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
}

.ww-tc {
    text-align: center;
}

.ww-collapse {
    .ant-collapse-header {
        flex-direction: row-reverse;
    }

    &.ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon {
        padding-inline-end: 0;
    }
}

.ww-selector {
    .ant-select-selector {
        height: 40px!important;
        min-width: 120px;
    }

    .ant-select-selection-item {
        line-height: 36px!important;
    }
}