@import "theme";
@import "overwrite_antd";

.ww-page-container {
    padding: 0 $pagePadding;
    min-height: 100%;
    color: $primary;
}

.ww-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    height: 90px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 30px;
    line-height: 90px;
    font-weight: 700;
    color: $primary;
    box-shadow: 5px 5px 20px 0 #00000040;

    .ww-menu-icon {}

    .ww-menu-text {
        flex: 1;
        font-size: 32px;
    }

    .ww-menu-arrow {
        width: 30px;
    }


}

.ww-content-text {
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 20px;
}

.ww-tc {
    text-align: center;
}

.ww-collapse {
    .ant-collapse-header {
        flex-direction: row-reverse;
    }

    &.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
        padding-inline-end: 0;
    }
}

.ww-selector {
    .ant-select-selector {
        height: 80px !important;
        min-width: 120px;
        font-size: 30px;
    }

    .ant-select-selection-item {
        line-height: 75px !important;
        margin: 0 10px;
    }

    .ant-select-arrow,
    .ant-select-clear-icon {
        font-size: 20px !important;
    }
}

.ant-select-dropdown .ant-select-item {
    font-size: 30px !important;
}



.ww-alpha-container {
    padding: #{$pagePadding / 2} $pagePadding $pagePadding;
    margin: 0 #{-$pagePadding};
    background: #D9D9D9B2;

    h2 {
        font-size: 50px;
        margin-bottom: 20px;
    }
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
}

.ww-page-container .ant-btn {
    font-size: 44px;
    font-weight: 700;
    height: 100px;
    color: #0A3D53;
    border-radius: 36px;
}


.ant-message-notice-content {
    font-size: 30px;
}

.ant-message-notice-content .anticon svg {
    width: 30px;
    height: 30px;
}