.adm-tabs {
    --title-font-size: 2.5rem;
    --active-line-color: none;
    --active-title-color: #0A3D53;
}

.adm-tabs-header {
    border-bottom: none;
}

.adm-tabs-content {
    background: rgba(217, 217, 217, 0.7),
}