// .adm-button.adm-button-large {
//     font-size: 2.5rem;
//     text-align: center;
// }

:where(.css-dev-only-do-not-override-1tudys6).ant-btn.ant-btn-lg {
    font-size: 2.5rem!important;
    height: 6rem!important;
    padding: 6.428571428571429px 15px!important;
    border-radius: 1rem!important;
}

:where(.css-dev-only-do-not-override-1tudys6).ant-btn-default:disabled, :where(.css-dev-only-do-not-override-1tudys6).ant-btn-default.ant-btn-disabled {
    cursor: not-allowed!important;
    color: rgba(0, 0, 0, 0.25)!important;
    background-color: rgba(255, 255, 255, 1)!important;
    box-shadow: none!important;
}