@import "../../../styles/theme";

.sg-price-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .sg-price {
        font-size: 18px;
        color: #053346;
    }

    .sg-price-changes {
        color: #1E772C;
    }
}

.spot-grid-page {
    padding-bottom: 30px;
    .radio-button {
        text-align: center;
    }

    h3 {
        font-size: 20px;
        color: $primary;
    }

    .ant-form-item-label {
        min-width: 100px;
    }

    .ant-row {
        padding: 0 20px;
    }
}