.welcome-page {
  position: absolute;
  box-sizing: border-box;
  padding: 0 40px;
  height: 100%;
  color: #fff;
  background: url("../../../assets/index_bg.jpg") no-repeat center / cover;
}

.welcome-page-header {
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.welcome-page-header-icon {
  width: 90px;
  height: 90px;
  margin-right: 30px;
}

.welcome-page-header-text {
  font-size: 72px;
  font-weight: 700;
}

.welcome-page-title {
  font-size: 42px;
  font-weight: 600;
  margin-top: 30px;
  padding: 20px 40px;
  margin-bottom: 60px;
  line-height: 50px;
}

.welcome-page-button-container {
  display: flex;
  justify-content: space-between;
  border-radius: 36px;
  background: #7A787B99;
  padding: 0 40px;
  margin: 50px 20px 30px;
  height: 116px;
  align-items: center;
  cursor: pointer;
  box-shadow: 5px 5px 20px 0 #00000040;
  color: #fff;
  text-decoration: none;
}

.welcome-page-button-text {
  font-size: 42px;
  font-weight: 600;
  /*line-height: 30px;*/
  /*margin-left: 40px;*/
}

.welcome-page-button-icon {
  width: 36px;
  height: 36px;
}