.rmp-page {
    .mpa-tip {
        margin-top: 1em;
        font-size: 28px;
        font-weight: 600;
    }

    h2 {
        margin-top: 0;
    }

    .header-bar-text {
        font-size: 54px;
    }
}